*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    }

    body {
        background-color: black;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 844px;
    }

    section {
        width: 390px;
        margin: auto;
        overflow: hidden;
    }

    .background {
        background-image: url(giphy.gif);
        background-repeat: repeat;
        background-size: cover;
        
    }
    .background::before{
        content: "";
        opacity: 0.5;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #000;
    }

    .img {
        position: relative;
    }

    .img img {
        display: block;
        width: 100%;
        height: auto;
    }
